.table-full {
    width: 100%  !important;
}

.col-30{
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.mb-15 {
    margin-bottom:  15px !important;
}


p {
    font-size: 11px !important; 
 }