


    <form mat-dialog-content class="p-24 pb-0 m-0" fxLayout="column" fxFlex="1 0 auto" #benficiaryForm="ngForm" >
        <h3>Agregar un Cónyugue cóm Fidor del Crédito</h3>

        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="100" class="pl-4"> 
                <mat-label>Cónyugue</mat-label>
                <mat-select  required  [(ngModel)]="this.newFiador.person.personKey" name="personkey" id ="personkey" >
                    <mat-option *ngFor="let conyugue of this.conyugues" [value]="conyugue.person.personKey" >
                        {{conyugue.person.nameComplete}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">wc</mat-icon>
                <mat-error>Seleccione Conyugue!</mat-error>
            </mat-form-field>


        </div>

        



        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-slide-toggle [(ngModel)]="this.address.leader" name="leader" id="leader">Establecer como Principal</mat-slide-toggle>
        </div> -->


        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

            <button mat-raised-button color="primary"
                class="mr-8"
                (click)="matDialogRef.close()"
                aria-label="Delete"
                matTooltip="Delete">
                Cancelar
            </button>
            <button 
                    mat-raised-button
                    color="primary"
                    class="save-button"
                    (click)="closeDigalog()"
                    [disabled]="benficiaryForm.invalid"
                    aria-label="SAVE">
                Guardar
            </button>
    

        </div>

        
    </form>

