.header {
    height: 60px  !important;
    min-height: 60px !important; 
    max-height: 60px im !important;
}


table {
    width: 100%;
    max-width: 100%;
}


.card-content{
    border-radius: 15px !important;
}