.round {
    border: 1px solid #ffd783;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    background-color: #ffd783;
  }
  
.round-text {
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}