table {
    width: 100%;
}

.mat-header-cell{
  background: rgb(234, 234, 234);
  text-align: center;
  font-weight:bold;
  color:black;
}

/* Bordes para la tabla 
th {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

td.mat-cell {
  padding: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

tr.mat-row {
  border: 1px solid rgba(0, 0, 0, 0.12);
}*/

.mark{
  margin: 0px 10px;
  padding: 5px 0px;
  color: white;
  text-align: center;
  background: #999999; 
  border-radius: 6px;
  width: 180px;
}