
    
    <!-- <div fxLayout="column" fxFlex="1 0 auto"  fxLayoutAlign="start start"> 
        <button (click)="new_address()" mat-icon-button><mat-icon>add</mat-icon> Agregar Dirección</button>
    </div> -->

    <div fxLayout="column">
        <div fxLayout="row" class="pb-8" fxLayoutAlign="end end">
            <!-- <button mat-raised-button color="primary" (click)="new_address()"><mat-icon>add</mat-icon> Agregar Dirección</button> -->


                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="phone-menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="new_address()" mat-menu-item >
                    <mat-icon>map</mat-icon>
                    <span>Agregar Dirección</span>
                    </button>
                </mat-menu>
        </div>
        <app-asociados-address-list [creditEnabled]="this.creditEnabled"></app-asociados-address-list>
    </div>
