<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header brown-300 pl-24  pb-4 pt-4 pr-4" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="80" fxFlexAlign="start start">
            <h3> <button mat-icon-button (click)="bo_back()"><mat-icon>arrow_back</mat-icon></button> Listado de Créditos</h3>
        </div>
        <div fxFlex="20" fxFlexAlign="end end">
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-24" fxLayout="column" fxLayoutAlign="start">
        <app-filter-credits-socios-form [type]="'credits'"></app-filter-credits-socios-form>
        <app-credis-list fxLayout="column"></app-credis-list>

    </div>
    <!-- / CONTENT -->

</div>





